
.cuerpo {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}


.form-container:hover {
  font-family: cursive;
  font-size: 22px;
  color: rgb(255, 255, 255);
  transition: color 1.5s;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


.cuerpo{
  background-image: linear-gradient(
    to right, rgba(34, 9, 9, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%
    ),
    url(../../../assets/img/organizacion.jpg);
  background-size: cover;
  height: auto;
  min-height: 110vh;
  display: flex;
  font-family: cursive;
}

form{
  margin:4% auto;
  width: 100%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  height: fit-content;
}

.form-container{
  font-family: sans-serif;
  font-weight: bold;
  /* margin-top: 1rem; */
  width: 100%;
  display: grid;
  gap: 0.3em;
  grid-auto-columns: 100%;

}

.form-title{
  font-size: 40px;
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .3em;
}
.form-input{
  font-family: cursive;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border-radius: 0.2em;
}

.form-cta{
  font-family: cursive;
  /* background-image: linear-gradient(
    to right, rgba(34, 9, 9, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%
    ); */
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400;
}

.form-input-mensaje{
  resize: none;
  padding: 1.8em 1em;
  /* margin-bottom: .5em; */
}

.is-invalid{
  border: 1px solid #ff0000a6;
}

.advertencia{
  display: block;
  margin-left: 5%;
  color: #ff0000a6;
}