<div id="portada">
<br> <br><br>
  <div id="datos">
    <strong id="nombre">José Mijael Rocha Vera</strong>
<br><br><br>
    <ul>
    <li>
      <i class="fa-solid fa-phone whatsapp" ></i>
      <br>
      <b>WhatsApp:</b>
          65505143
    </li>

    <li>
      <i class="fa-solid fa-location-dot"></i>
      <br>
      <b>Direccion:</b> 
      <br>
      Av.Panamericana 
    </li>

    <li>
      <i class="fa-solid fa-envelope"></i><br>
      <b>Correo Electronico:</b>
      <br>
      josemijaelrochavera666@gmail.com
    </li>

    <li>
      <i class="fa-solid fa-calendar"></i><br>
      <b>Fecha de Nacimiento:</b>
      <br>
      06/01/2004
    </li>
  </ul>

  <br><br><br><br>
  
    <div  class="sobre-mi">
      <h3>Sobre mi</h3>
      <p> 

<br>

  Soy un joven comprometido e interesado en aprender y adquirir nuevos conocimientos en el tema de la tecnología y programación.
        <br>
        Gracias a mis competencias y mi motivacion lograre cada vez mejores resultados en el area profesional
      </p>
    </div>
  </div>

  <div id="foto-port">
    <img src="../../../assets/img/foto123.jpeg" alt="foto-perfil">
  </div>
</div>
